.rdw-fontfamily-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 1px solid #e5e7eb;
}
.rdw-fontfamily-dropdown {
  width: 115px;
}
.rdw-fontfamily-placeholder {
  white-space: nowrap;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rdw-fontfamily-optionwrapper {
  width: 140px;
}
