.rdw-fontsize-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 1px solid #e5e7eb;
}
.rdw-fontsize-dropdown {
  min-width: 40px;
}
.rdw-fontsize-option {
  display: flex;
  justify-content: center;
}
