.rdw-inline-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 1px solid #e5e7eb;
}
.rdw-inline-dropdown {
  width: 50px;
}
.rdw-inline-dropdownoption {
  height: 40px;
  display: flex;
  justify-content: center;
}
